<div class="rh-container--auto rh-container-px rh-overflow--hidden">
    <div class="row row-eq-height row-gutters">
        {{#each blocks}}
        <div class="col col-12 md-col-6 lg-col-4 col-item-eq-height">
            <div>
                <div class="rh-image-block">
                    <img class="rh-image-block__image" src="{{image}}" alt="">
                    <div class="rh-caption-mini {{#if captionType}} {{captionType}}{{/if}} rh-image-block__caption">
                        <p class="rh-caption-mini-text rh-image-block__caption-text{{#if captionTextAlign}} {{captionTextAlign}}{{/if}}">{{text}}</p>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
