<div class="rh-image-block__space-extend">
    <div class="rh-image-block">
        <img class="rh-image-block__image" src="/images/event-calendar-block.png" alt="">
        <div class="rh-caption-mini rh-caption-mini--under-image rh-image-block__caption">
            <p class="rh-caption-mini-text rh-image-block__caption__text">Copyright by someone</p>
        </div>
    </div>
</div>

<div class="rh-image-block__space-extend">
    <div class="rh-image-block">
        <img class="rh-image-block__image" src="/images/event-calendar-block.png" alt="">
        <div
            class="rh-caption-mini rh-caption-mini--square rh-image-block__caption rh-image-block__caption--over-image--right-bottom">
            <p class="rh-caption-mini-text rh-image-block__caption__text">Copyright by someone</p>
        </div>
    </div>
</div>

<div class="rh-image-block__space-extend">
    <div class="rh-image-block">
        <img class="rh-image-block__image" src="/images/event-calendar-block.png" alt="">
        <div class="rh-caption-mini rh-caption-mini--square rh-image-block__caption">
            <p class="rh-caption-mini-text rh-image-block__caption__text">Copyright by someone</p>
        </div>
    </div>
</div>

<div class="rh-image-block__space-extend">
    <div class="rh-image-block">
        <img class="rh-image-block__image" src="/images/event-calendar-block.png" alt="">
        <div class="rh-caption-mini rh-caption-mini--under-image rh-image-block__caption">
            <p class="rh-caption-mini-text rh-image-block__caption__text rh-image-block__caption__text--center">
                Copyright by someone</p>
        </div>
    </div>
</div>

<div class="rh-image-block__space-extend">
    <div class="rh-image-block">
        <img class="rh-image-block__image" src="/images/event-calendar-block.png" alt="">
        <div class="rh-caption-mini rh-caption-mini--under-image rh-image-block__caption">
            <p class="rh-caption-mini-text rh-image-block__caption__text rh-image-block__caption__text--right">Copyright
                by someone</p>
        </div>
    </div>
</div>