<div class="rh-image-block rh-image-block__space--extend">
    <img class="rh-image-block__image" src="/images/event-calendar-block.png" alt="">
    <div class="rh-caption-mini rh-caption-mini--under-image rh-image-block-extend__caption">
        <p class="rh-caption-mini-text rh-image-block-extend__caption__text">Copyright by someone</p>
    </div>
</div>

<div>
    <div class="rh-image-block rh-image-block__space--extend">
        <img class="rh-image-block__image" src="/images/event-calendar-block.png" alt="">
        <div
            class="rh-caption-mini rh-caption-mini--square rh-image-block-extend__caption rh-image-block-extend__caption--over-image--right-bottom">
            <p class="rh-caption-mini-text rh-image-block-extend__caption__text">Copyright by someone</p>
        </div>
    </div>
</div>

<div class="rh-image-block rh-image-block__space--extend">
    <img class="rh-image-block__image" src="/images/event-calendar-block.png" alt="">
    <div class="rh-caption-mini rh-caption-mini--under-image rh-image-block-extend__caption">
        <p class="rh-caption-mini-text rh-image-block-extend__caption__text">Copyright by someone</p>
    </div>
</div>

<div>
    <div class="rh-image-block rh-image-block__space--extend">
        <img class="rh-image-block__image" src="/images/event-calendar-block.png" alt="">
        <div
            class="rh-caption-mini rh-caption-mini--square rh-image-block-extend__caption rh-image-block-extend__caption--over-image--right-bottom">
            <p class="rh-caption-mini-text rh-image-block-extend__caption__text">Copyright by someone</p>
        </div>
    </div>
</div>