<div class="rh-navigation-left">
    <div class="rh-navigation-left__header">
        <p class="rh-navigation-left__header-text">
            Läkemedelsgenomgångar
        </p>
    </div>

    <div class="rh-navigation-left__body">
        <div class="rh-navigation-left__item">
            <p class="rh-navigation-left__item-text">
                <a class="rh-link--navigation" href="#">Äldre och läkemedel</a>
            </p>
            <span style="height: 30px;"></span>
        </div>

        <div class="rh-navigation-left__item">
            <p class="rh-navigation-left__item-text">
                <a class="rh-link--navigation" href="#">Verktyg vid läkemedelsgenomgångar särskilda boenden</a>
            </p>
            <span class="rh-round-button icon-plus rh-navigation-left__item-icon"></span>
        </div>

        <div class="rh-navigation-left__item">
            <p class="rh-navigation-left__item-text">
                <a class="rh-link--navigation" href="#">Äldre och läkemedel</a>
            </p>
            <span style="height: 30px;"></span>
        </div>
    </div>
</div>