<div class="rh-feedback-form" aria-label="Ge feedback information">
    <div>
        <p class="rh-feedback-form__header__title">Ge feedback</p>
    </div>
    <div class="rh-feedback-form__body">
        <form action="#">
            <p class="rh-form__text--muted">
                <span class="rh-form__text--required">*</span> = Obligatorisk uppgift</p>
            <p class="rh-form__text--muted">
                <span class="rh-form__text--required">**</span> == Icke Obligatorisk uppgift</p>

            <div class="rh-form-group">
                <label for="feedback-form__message" class="rh-form__label rh-feedback-form__body__label-message">
                    Meddelandet (det du skickar till Vårdgivarwebben blir en allmän handling)
                    <span class="rh-form__label-text--required">*</span>
                </label>
                <textarea id="feedback-form__message"
                    class="rh-form__control rh-form__textarea rh-feedback-form__body__message"
                    placeholder="Fyll i ditt meddelande"></textarea>
            </div>

            <div class="rh-feedback-form__body__description">
                <p class="rh-feedback-form__body__description-text">När du skickar ett meddelande via ett formulär på en
                    av Region Hallands webbplatser kan du välja om du vill ha svar på ditt meddelande. Om du vill ha
                    svar behöver du lämna din e-postadress.</p>
                <p class="rh-feedback-form__body__description-text">
                    <p><a href="#" class="rh-link rh-feedback-form__body__link-privacy" title="GDPR">Här kan du läsa mer
                            om hur vi hanterar personuppgifter.</a></p>
                </p>
            </div>

            <div class="rh-form-group">
                <label for="feedback-form__email" class="rh-form__label rh-feedback-form__body__label-email">
                    Din e-postadress
                    <span class="rh-form__label-text--required">**</span>
                </label>
                <input id="feedback-form__email" type="text" class="rh-form__control rh-feedback-form__body__input"
                    placeholder="Fyll i din e-postadress" autocomplete="email">
            </div>
            <button class="rh-button rh-button--primary rh-feedback-form__body__button-send-message"
                aria-label="Text som förklarar funktionen om man lyssnar med talsyntes utan att se kontexten"
                role="button">Skicka in</button>

        </form>
    </div>
</div>