<!-- Molecules demo -->
<div style="margin-top:2em;">
    <p style="font-weight: bold;">Molecules - Navigation block</p>
    <p>(with minimal formatting)</p>
</div>

<div class="rh-navigation-block">
    <div class="rh-navigation-block__title">
        <div class="rh-round-button rh-navigation-block__button">
            <span class="rh-navigation-block__button-icon"></span>
        </div>
        <a href="#" class="rh-link--navigation rh-navigation-block__title-link">
            Patientadministration, utveckling och forskning
        </a>
    </div>

    <div class="rh-navigation-block__description">
        <p class="rh-navigation-block__description-text">
            Halland ska hålla i längden. Det betyder att det vi gör i dag ska fungera även för framtida generationer.
        </p>
    </div>
</div>

<!-- Organism demo -->
<div style="margin-top:2em;">
    <p style="font-weight: bold;">Organism - Navigation block group</p>
    <p>(with formatting from grid system and help classes)</p>
</div>

<div class="rh-page__content rh-navigation-block-group">
    <div class="col col-12 md-col-6 lg-col-4 rh-navigation-block-group__item-container">
        <div class="rh-navigation-block">
            <div class="rh-navigation-block__title">
                <div class="rh-round-button rh-navigation-block__button">
                    <span class="rh-navigation-block__button-icon"></span>
                </div>
                <a href="#" class="rh-link--navigation rh-navigation-block__title-link">
                    1Behandlingsstöd
                </a>
            </div>

            <div class="rh-navigation-block__description hidden-sm">
                <p class="rh-navigation-block__description-text">This text describes the content that can be found on
                    the subpage</p>
            </div>
        </div>
    </div>
    
    <div class="col col-12 md-col-6 lg-col-4 rh-navigation-block-group__item-container">
        <div class="rh-navigation-block">
            <div class="rh-navigation-block__title">
                <div class="rh-round-button rh-navigation-block__button">
                    <span class="rh-navigation-block__button-icon"></span>
                </div>
                <a href="#" class="rh-link--navigation rh-navigation-block__title-link">
                    2Uppdrag och samverkan
                </a>
            </div>

            <div class="rh-navigation-block__description hidden-sm">
                <p class="rh-navigation-block__description-text">This text describes the content that can be found on
                    the subpage</p>
            </div>
        </div>
    </div>

    <div class="col col-12 md-col-6 lg-col-4 rh-navigation-block-group__item-container">
        <div class="rh-navigation-block">
            <div class="rh-navigation-block__title">
                <div class="rh-round-button rh-navigation-block__button">
                    <span class="rh-navigation-block__button-icon"></span>
                </div>
                <a href="#" class="rh-link--navigation rh-navigation-block__title-link">
                    3Uppdrag och samverkan
                </a>
            </div>

            <div class="rh-navigation-block__description hidden-sm">
                <p class="rh-navigation-block__description-text">This text describes the content that can be found on
                    the subpage</p>
            </div>
        </div>
    </div>

    <div class="col col-12 md-col-6 lg-col-4 rh-navigation-block-group__item-container">
        <div class="rh-navigation-block">
            <div class="rh-navigation-block__title">
                <div class="rh-round-button rh-navigation-block__button">
                    <span class="rh-navigation-block__button-icon"></span>
                </div>
                <a href="#" class="rh-link--navigation rh-navigation-block__title-link">
                    4Medicinska områden
                </a>
            </div>

            <div class="rh-navigation-block__description hidden-sm">
                <p class="rh-navigation-block__description-text">
                    Vi mår bra, tack! Vården i Halland håller mycket hög kvalitet. Så ska det vara även i fortsättningen, därför forskar vi i Halland.
                </p>
            </div>
        </div>
    </div>

    <div class="col col-12 md-col-6 lg-col-4 rh-navigation-block-group__item-container">
        <div class="rh-navigation-block">
            <div class="rh-navigation-block__title">
                <div class="rh-round-button rh-navigation-block__button">
                    <span class="rh-navigation-block__button-icon"></span>
                </div>
                <a href="#" class="rh-link--navigation rh-navigation-block__title-link">
                    5Medicinska områden
                </a>
            </div>

            <div class="rh-navigation-block__description hidden-sm">
                <p class="rh-navigation-block__description-text">
                    Vi mår bra, tack!.
                </p>
            </div>
        </div>
    </div>

    <div class="col col-12 md-col-6 lg-col-4 rh-navigation-block-group__item-container">
        <div class="rh-navigation-block">
            <div class="rh-navigation-block__title">
                <div class="rh-round-button rh-navigation-block__button">
                    <span class="rh-navigation-block__button-icon"></span>
                </div>
                <a href="#" class="rh-link--navigation rh-navigation-block__title-link">
                    6Medicinska områden
                </a>
            </div>

            <div class="rh-navigation-block__description hidden-sm">
                <p class="rh-navigation-block__description-text">
                    Vi mår bra, tack! Vården i Halland håller mycket hög kvalitet. Så ska det vara även i fortsättningen, därför forskar vi i Halland.
                </p>
            </div>
        </div>
    </div>

    <div class="col col-12 md-col-6 lg-col-4 rh-navigation-block-group__item-container">
        <div class="rh-navigation-block">
            <div class="rh-navigation-block__title">
                <div class="rh-round-button rh-navigation-block__button">
                    <span class="rh-navigation-block__button-icon"></span>
                </div>
                <a href="#" class="rh-link--navigation rh-navigation-block__title-link">
                    7Medicinska områden
                </a>
            </div>

            <div class="rh-navigation-block__description hidden-sm">
                <p class="rh-navigation-block__description-text">
                    Vi mår bra, tack! Vården i Halland håller mycket hög kvalitet. Så ska det vara även i fortsättningen, därför forskar vi i Halland.
                </p>
            </div>
        </div>
    </div>
</div>