<!-- Molecules demo -->
<div style="margin-top:2em;">
    <p style="font-weight: bold;">Molecules - Navigation block</p>
    <p>(with minimal formatting)</p>
</div>

<div class="rh-navigation-block">
    <div class="rh-navigation-block__title">
        <div class="rh-round-button rh-navigation-block__button">
            <span class="rh-navigation-block__button-icon"></span>
        </div>
        <a href="#" class="rh-link--navigation rh-navigation-block__title-link">
            Patientadministration
        </a>
    </div>

    <div class="rh-navigation-block__description">
        <p class="rh-navigation-block__description-text">This text describes the content that can be found on the
            subpage</p>
    </div>
</div>

<!-- Organism demo -->
<div style="margin-top:2em;">
    <p style="font-weight: bold;">Organism - Navigation block group</p>
    <p>(with formatting from grid system and help classes. Ex: .hidden-sm)</p>
</div>

<div class="clearfix rh-navigation-block-group">
    <div class="col col-12 md-col-6 lg-col-4 rh-navigation-block-group__item">
        <div class="rh-navigation-block">
            <div class="rh-navigation-block__title">
                <div class="rh-round-button rh-navigation-block__button">
                    <span class="rh-navigation-block__button-icon"></span>
                </div>
                <a href="#" class="rh-link--navigation rh-navigation-block__title-link">
                    Behandlingsstöd
                </a>
            </div>

            <div class="rh-navigation-block__description">
                <p class="rh-navigation-block__description-text">This text describes the content that can be found on
                    the subpage</p>
            </div>
        </div>
    </div>
    <div class="col col-12 md-col-6 lg-col-4 rh-navigation-block-group__item">
        <div class="rh-navigation-block">
            <div class="rh-navigation-block__title">
                <div class="rh-round-button rh-navigation-block__button">
                    <span class="rh-navigation-block__button-icon"></span>
                </div>
                <a href="#" class="rh-link--navigation rh-navigation-block__title-link">
                    Medicinska områden
                </a>
            </div>

            <div class="rh-navigation-block__description hidden-sm">
                <p class="rh-navigation-block__description-text">This text describes the content that can be found on
                    the subpage</p>
            </div>
        </div>
    </div>
    <div class="col col-12 md-col-6 lg-col-4 rh-navigation-block-group__item">
        <div class="rh-navigation-block">
            <div class="rh-navigation-block__title">
                <div class="rh-round-button rh-navigation-block__button">
                    <span class="rh-navigation-block__button-icon"></span>
                </div>
                <a href="#" class="rh-link--navigation rh-navigation-block__title-link">
                    Uppdrag och samverkan
                </a>
            </div>

            <div class="rh-navigation-block__description hidden-sm">
                <p class="rh-navigation-block__description-text">This text describes the content that can be found on
                    the subpage</p>
            </div>
        </div>
    </div>
</div>