<!-- Molecules demo -->
<div style="margin-top:2em;">
    <p style="font-weight: bold;">Molecules - Navigation block</p>
    <p>(with minimal formatting)</p>
</div>

<div class="rh-navigation-block">
    <div class="rh-navigation-block__header">
        <div class="rh-round-button rh-navigation-block__header-round-button">
            <span class="rh-navigation-block__header-round-button-icon"></span>
        </div>
        <div class="rh-navigation-block__header-title">
            <a href="#" class="rh-link--navigation rh-navigation-block__header-title-link">
                Patientadministration utveckling och forskning
            </a>
        </div>
    </div>

    <div class="rh-navigation-block__description">
        <p class="rh-navigation-block__description-text">
            Halland ska hålla i längden. Det betyder att det vi gör i dag ska fungera även för framtida generationer.
        </p>
    </div>
</div>

<!-- Organism demo -->
<div style="margin-top:2em;">
    <p style="font-weight: bold;">Organism - Navigation block group</p>
    <p>(with formatting from <strong>GRID</strong> system and help classes)</p>
</div>

<div class="clearfix rh-page__content rh-navigation-block__container-grid">
    <div class="col col-12 md-col-6 lg-col-4 rh-navigation-block__container-grid__item-container">
        <div class="rh-navigation-block">
            <div class="rh-navigation-block__header">
                <div class="rh-round-button rh-navigation-block__header-round-button">
                    <span class="rh-navigation-block__header-round-button-icon"></span>
                </div>
                <div class="rh-navigation-block__header-title">
                    <a href="#" class="rh-link--navigation rh-navigation-block__header-title-link">
                        1.Utveckling och tillväxt
                    </a>
                </div>
            </div>

            <div class="rh-navigation-block__description hidden-sm">
                <p class="rh-navigation-block__description-text">
                    Halland ska hålla i längden. Det betyder att det vi gör i dag ska fungera även för framtida generationer.
                </p>
            </div>
        </div>
    </div>

    <div class="col col-12 md-col-6 lg-col-4 rh-navigation-block__container-grid__item-container">
        <div class="rh-navigation-block">
            <div class="rh-navigation-block__header">
                <div class="rh-round-button rh-navigation-block__header-round-button">
                    <span class="rh-navigation-block__header-round-button-icon"></span>
                </div>
                <div class="rh-navigation-block__header-title">
                    <a href="#" class="rh-link--navigation rh-navigation-block__header-title-link">
                        2.Hälsa och vård
                    </a>
                </div>
            </div>

            <div class="rh-navigation-block__description hidden-sm">
                <p class="rh-navigation-block__description-text">
                    Vi mår bra, tack! Vården i Halland håller mycket hög kvalitet. Så ska det vara även i fortsättningen, därför forskar vi i Halland.
                </p>
            </div>
        </div>
    </div>

    <div class="col col-12 md-col-6 lg-col-4 rh-navigation-block__container-grid__item-container">
        <div class="rh-navigation-block">
            <div class="rh-navigation-block__header">
                <div class="rh-round-button rh-navigation-block__header-round-button">
                    <span class="rh-navigation-block__header-round-button-icon"></span>
                </div>
                <div class="rh-navigation-block__header-title">
                    <a href="#" class="rh-link--navigation rh-navigation-block__header-title-link">
                        3.Kultur
                    </a>
                </div>
            </div>

            <div class="rh-navigation-block__description hidden-sm">
                <p class="rh-navigation-block__description-text">
                    Kulturen lockar. Kulturupplevelser, kreativitet och konstnärlig utveckling gör Halland attraktivt.
                </p>
            </div>
        </div>
    </div>

    <div class="col col-12 md-col-6 lg-col-4 rh-navigation-block__container-grid__item-container">
        <div class="rh-navigation-block">
            <div class="rh-navigation-block__header">
                <div class="rh-round-button rh-navigation-block__header-round-button">
                    <span class="rh-navigation-block__header-round-button-icon"></span>
                </div>
                <div class="rh-navigation-block__header-title">
                    <a href="#" class="rh-link--navigation rh-navigation-block__header-title-link">
                        4.Jobb och karriär
                    </a>
                </div>
            </div>

            <div class="rh-navigation-block__description hidden-sm">
                <p class="rh-navigation-block__description-text">
                    Jobba med oss i regionen. Tillsammans gör vi skillnad för hallänningarna varje dag – året runt.
                </p>
            </div>
        </div>
    </div>

    <div class="col col-12 md-col-6 lg-col-4 rh-navigation-block__container-grid__item-container">
        <div class="rh-navigation-block">
            <div class="rh-navigation-block__header">
                <div class="rh-round-button rh-navigation-block__header-round-button">
                    <span class="rh-navigation-block__header-round-button-icon"></span>
                </div>
                <div class="rh-navigation-block__header-title">
                    <a href="#" class="rh-link--navigation rh-navigation-block__header-title-link">
                        5.Våra skolor
                    </a>
                </div>
            </div>

            <div class="rh-navigation-block__description hidden-sm">
                <p class="rh-navigation-block__description-text">
                    Utbilda dig! Ett naturbruksgymnasium och två folkhögskolor finns i Region Hallands utbud.
                </p>
            </div>
        </div>
    </div>

    <div class="col col-12 md-col-6 lg-col-4 rh-navigation-block__container-grid__item-container">
        <div class="rh-navigation-block">
            <div class="rh-navigation-block__header">
                <div class="rh-round-button rh-navigation-block__header-round-button">
                    <span class="rh-navigation-block__header-round-button-icon"></span>
                </div>
                <div class="rh-navigation-block__header-title">
                    <a href="#" class="rh-link--navigation rh-navigation-block__header-title-link">
                        6.Demokrati och politik
                    </a>
                </div>
            </div>

            <div class="rh-navigation-block__description hidden-sm">
                <p class="rh-navigation-block__description-text">
                    Var med och påverka! Du har möjlighet att ta del av och påverka det som händer – även mellan valen.
                </p>
            </div>
        </div>
    </div>

    <div class="col col-12 md-col-6 lg-col-4 rh-navigation-block__container-grid__item-container">
        <div class="rh-navigation-block">
            <div class="rh-navigation-block__header">
                <div class="rh-round-button rh-navigation-block__header-round-button">
                    <span class="rh-navigation-block__header-round-button-icon"></span>
                </div>
                <div class="rh-navigation-block__header-title">
                    <a href="#" class="rh-link--navigation rh-navigation-block__header-title-link">
                        7.Om Region Halland
                    </a>
                </div>
            </div>

            <div class="rh-navigation-block__description hidden-sm">
                <p class="rh-navigation-block__description-text">
                    Vi är på väg. ”Halland – bästa livsplatsen” är vår vision. Välkommen att följa oss på vägen dit!
                </p>
            </div>
        </div>
    </div>
</div>

<!-- Organism demo -->
<div style="margin-top:2em;" class="clearfix">
    <p style="font-weight: bold;">Organism - Navigation block group</p>
    <p>(with formatting from <strong>FLEX</strong> system and help classes)</p>
</div>

<div class="rh-page__content rh-navigation-block__container-flex">
    <div class="rh-navigation-block">
        <div class="rh-navigation-block__header">
            <div class="rh-round-button rh-navigation-block__header-round-button">
                <span class="rh-navigation-block__header-round-button-icon"></span>
            </div>
            <div class="rh-navigation-block__header-title">
                <a href="#" class="rh-link--navigation rh-navigation-block__header-title-link">
                    1.Utveckling och tillväxt
                </a>
            </div>
        </div>

        <div class="rh-navigation-block__description hidden-sm">
            <p class="rh-navigation-block__description-text">
                Halland ska hålla i längden. Det betyder att det vi gör i dag ska fungera även för framtida generationer.
            </p>
        </div>
    </div>

    <div class="rh-navigation-block">
        <div class="rh-navigation-block__header">
            <div class="rh-round-button rh-navigation-block__header-round-button">
                <span class="rh-navigation-block__header-round-button-icon"></span>
            </div>
            <div class="rh-navigation-block__header-title">
                <a href="#" class="rh-link--navigation rh-navigation-block__header-title-link">
                    2.Hälsa och vård
                </a>
            </div>
        </div>

        <div class="rh-navigation-block__description hidden-sm">
            <p class="rh-navigation-block__description-text">
                Vi mår bra, tack! Vården i Halland håller mycket hög kvalitet. Så ska det vara även i fortsättningen, därför forskar vi i Halland.
            </p>
        </div>
    </div>

    <div class="rh-navigation-block">
        <div class="rh-navigation-block__header">
            <div class="rh-round-button rh-navigation-block__header-round-button">
                <span class="rh-navigation-block__header-round-button-icon"></span>
            </div>
            <div class="rh-navigation-block__header-title">
                <a href="#" class="rh-link--navigation rh-navigation-block__header-title-link">
                    3.Kultur
                </a>
            </div>
        </div>

        <div class="rh-navigation-block__description hidden-sm">
            <p class="rh-navigation-block__description-text">
                Kulturen lockar. Kulturupplevelser, kreativitet och konstnärlig utveckling gör Halland attraktivt.
            </p>
        </div>
    </div>

    <div class="rh-navigation-block">
        <div class="rh-navigation-block__header">
            <div class="rh-round-button rh-navigation-block__header-round-button">
                <span class="rh-navigation-block__header-round-button-icon"></span>
            </div>
            <div class="rh-navigation-block__header-title">
                <a href="#" class="rh-link--navigation rh-navigation-block__header-title-link">
                    4.Jobb och karriär
                </a>
            </div>
        </div>

        <div class="rh-navigation-block__description hidden-sm">
            <p class="rh-navigation-block__description-text">
                Jobba med oss i regionen. Tillsammans gör vi skillnad för hallänningarna varje dag – året runt.
            </p>
        </div>
    </div>

    <div class="rh-navigation-block">
        <div class="rh-navigation-block__header">
            <div class="rh-round-button rh-navigation-block__header-round-button">
                <span class="rh-navigation-block__header-round-button-icon"></span>
            </div>
            <div class="rh-navigation-block__header-title">
                <a href="#" class="rh-link--navigation rh-navigation-block__header-title-link">
                    5.Våra skolor
                </a>
            </div>
        </div>

        <div class="rh-navigation-block__description hidden-sm">
            <p class="rh-navigation-block__description-text">
                Utbilda dig! Ett naturbruksgymnasium och två folkhögskolor finns i Region Hallands utbud.
            </p>
        </div>
    </div>

    <div class="rh-navigation-block">
        <div class="rh-navigation-block__header">
            <div class="rh-round-button rh-navigation-block__header-round-button">
                <span class="rh-navigation-block__header-round-button-icon"></span>
            </div>
            <div class="rh-navigation-block__header-title">
                <a href="#" class="rh-link--navigation rh-navigation-block__header-title-link">
                    6.Demokrati och politik
                </a>
            </div>
        </div>

        <div class="rh-navigation-block__description hidden-sm">
            <p class="rh-navigation-block__description-text">
                Var med och påverka! Du har möjlighet att ta del av och påverka det som händer – även mellan valen.
            </p>
        </div>
    </div>

    <div class="rh-navigation-block">
        <div class="rh-navigation-block__header">
            <div class="rh-round-button rh-navigation-block__header-round-button">
                <span class="rh-navigation-block__header-round-button-icon"></span>
            </div>
            <div class="rh-navigation-block__header-title">
                <a href="#" class="rh-link--navigation rh-navigation-block__header-title-link">
                    7.Om Region Halland
                </a>
            </div>
        </div>

        <div class="rh-navigation-block__description hidden-sm">
            <p class="rh-navigation-block__description-text">
                Vi är på väg. ”Halland – bästa livsplatsen” är vår vision. Välkommen att följa oss på vägen dit!
            </p>
        </div>
    </div>
</div>