@import '../../styles/common';

// Color
$sample__color-main__dark: #868686;
$sample__color-main__light: #ececec;
$sample__color-text__normal: #5c5c5c;

// Placeholder
$sample__placeholder__width: 100%;
$sample__placeholder__max-width: $page-content__max-width;
$sample__placeholder__border: initial;
$sample__placeholder__margin: auto;
$sample__placeholder__background-color: $sample__color-main__light;

// Component's setting
$sample__border: 0.05em solid #f1a1a1;
$sample__width: 100%;
$sample__max-width: $page-content__max-width;
$sample__margin: auto;