@import './settings.scss';

// Placeholder
.sample__placehoder {
    width: $sample__placeholder__width;
    max-width: $sample__placeholder__max-width;
    border: $sample__placeholder__border;
    margin: $sample__placeholder__margin;
    background-color: $sample__placeholder__background-color;
}

// Container - Component
.sample {
    border: $sample__border;
    width: $sample__width;
    max-width: $sample__max-width;
    margin: $sample__margin;
}

// Elements
.sample__description {
    color: $sample__color-text__normal;
}

.sample__title {
    color: $sample__color-main__dark;
}
