.rh-event-card-calendar {
	&__item {
        /* Box-modell/beteende */
        display: flex;
        flex-direction: row;

        min-height: $event-card-calendar__item--min-height;
        width: $event-card-calendar__item--width;
        border: $event-card-calendar__item--border;

        background-color: $event-card-calendar__item--background-color;
    }

    &__date {
        /* Box-modell/beteende */
        display: flex;
        flex-direction: column;
        justify-content: $event-card-calendar__date--align-content-vertical;
        align-items: $event-card-calendar__date--align-content-horizontal;

        width: $event-card-calendar__date--width;
        min-width: $event-card-calendar__date--min-width;
        max-width: $event-card-calendar__date--max-width;

        /* Visuellt */
        background-color: $event-card-calendar__date--background-color;

        &-day {
            /* Box-modell/beteende */
            margin: 0;
            line-height: $event-card-calendar__date-day--line-height;

            /* Typografi */
            font-size: $event-card-calendar__date-day--font-size;
            font-weight: $event-card-calendar__date-day--font-weight;
            color: $event-card-calendar__date-day--color;
        }

        &-month {
            /* Box-modell/beteende */
            margin: 0;
            line-height: $event-card-calendar__date-month--line-height;

            /* Typografi */
            font-size: $event-card-calendar__date-month--font-size; //15px
            font-weight: $event-card-calendar__date-month--font-weight;
            color: $event-card-calendar__date-month--color;
        }
    }

    &__description {
        /* Box-modell/beteende */
        width: 100%;
        padding: $event-card-calendar__description--padding;

        &-title {
            /* Typografi */
            font-size: $event-card-calendar__description-title--font-size; //15px
            font-weight: $event-card-calendar__description-title--font-weight;

            @if $event-card-calendar__description-title--font-size--medium {
                @include medium {
                    font-size: $event-card-calendar__description-title--font-size--medium;
                }
            }

            @if $event-card-calendar__description-title--font-size--large {
                @include large {
                    font-size: $event-card-calendar__description-title--font-size--large;
                }
            }
        }
    }

    &__icon {
        /* Box-modell/beteende */
        margin: $event-card-calendar__icon--margin;

        /* Typografi */
        font-family: "feather";
    }

    // Customize when reusing the "labels" component
    &__labels {
        /* Box-modell/beteende */
        margin-top: $event-card-calendar__labels--margin-top;

        /* Visuellt */
        background-color: $event-card-calendar__labels--background-color;
    }
}
