<div class="rh-event-card-calendar">
    <div class="rh-event-card-calendar__item">
        <div class="rh-event-card-calendar__date">
            <p class="rh-event-card-calendar__date-day">14</p>
            <p class="rh-event-card-calendar__date-month">mars</p>
        </div>

        <div class="rh-event-card-calendar__description">
            <p class="rh-event-card-calendar__description-title">
                <a href="#" class="rh-link--navigation">Rum för Dans: Ett lager till</a>
            </p>
            <p class="rh-event-card-calendar__description-time">
                18.30 - 20.00
            </p>
            <p class="rh-event-card-calendar__description-place">
                Kulturhuset Najaden, Fiskaregatan 21
            </p>

            <span class="rh-labels rh-event-card-calendar__labels">Kultur</span>
            <span class="rh-labels rh-event-card-calendar__labels">Slöjd och Konsthantverk</span>
            <span class="rh-labels rh-event-card-calendar__labels">Dans</span>
            <span class="rh-labels rh-event-card-calendar__labels">Kulturevenemang</span>
        </div>
    </div>

    <div class="rh-event-card-calendar__item">
        <div class="rh-event-card-calendar__date">
            <p class="rh-event-card-calendar__date-day">9</p>
            <p class="rh-event-card-calendar__date-month">april</p>
        </div>

        <div class="rh-event-card-calendar__description">
            <p class="rh-event-card-calendar__description-title">
                <a href="#" class="rh-link--navigation">Kultur o.s.v. om finansiering av konstnärligt och
                    kulturskapande
                    arbete</a>
            </p>
            <p class="rh-event-card-calendar__description-time">
                18.30 - 20.00
            </p>
            <p class="rh-event-card-calendar__description-place">
                Laholms Teater, Laholm
            </p>

            <span class="rh-labels rh-event-card-calendar__labels">Kulturarv</span>
            <span class="rh-labels rh-event-card-calendar__labels">Dans</span>
            <span class="rh-labels rh-event-card-calendar__labels">Bild- och formkonst</span>
            <span class="rh-labels rh-event-card-calendar__labels">Film och rörlig bild</span>
        </div>
    </div>

    <div class="rh-event-card-calendar__item">
        <div class="rh-event-card-calendar__date">
            <p class="rh-event-card-calendar__date-day">10</p>
            <p class="rh-event-card-calendar__date-month">maj</p>
        </div>

        <div class="rh-event-card-calendar__description">
            <p class="rh-event-card-calendar__description-title">
                <a href="#" class="rh-link--navigation">Songlines: Gitarrlektioner med Hadi Ali</a>
            </p>
            <p class="rh-event-card-calendar__description-time">
                18.30 - 20.00
            </p>
            <p class="rh-event-card-calendar__description-place">
                Downtown, Brogatan 2, Falkenberg
            </p>

            <span class="rh-labels rh-event-card-calendar__labels">Kultur och hälsa</span>
            <span class="rh-labels rh-event-card-calendar__labels">Musik</span>
            <span class="rh-labels rh-event-card-calendar__labels">Bibliotek</span>
            <span class="rh-labels rh-event-card-calendar__labels">Litteratur och skrivande</span>
        </div>
    </div>

    <div class="rh-event-card-calendar__item">
        <div class="rh-event-card-calendar__date">
            <p class="rh-event-card-calendar__date-day">25</p>
            <p class="rh-event-card-calendar__date-month">juni</p>
        </div>

        <div class="rh-event-card-calendar__description">
            <p class="rh-event-card-calendar__description-title">
                <a href="#" class="rh-link--navigation">Songlines: Gitarrlektioner med Hadi Ali</a>
            </p>
            <p class="rh-event-card-calendar__description-time">
                18.30 - 20.00
            </p>
            <p class="rh-event-card-calendar__description-place">
                Downtown, Brogatan 2, Falkenberg
            </p>

            <span class="rh-labels rh-event-card-calendar__labels">Kultur och hälsa</span>
            <span class="rh-labels rh-event-card-calendar__labels">Musik</span>
            <span class="rh-labels rh-event-card-calendar__labels">Bibliotek</span>
            <span class="rh-labels rh-event-card-calendar__labels">Litteratur och skrivande</span>
        </div>
    </div>

    <div class="rh-event-card-calendar__item">
        <div class="rh-event-card-calendar__date">
            <p class="rh-event-card-calendar__date-day">2</p>
            <p class="rh-event-card-calendar__date-month">juli</p>
        </div>

        <div class="rh-event-card-calendar__description">
            <p class="rh-event-card-calendar__description-title">
                <a href="#" class="rh-link--navigation">Songlines: Gitarrlektioner med Hadi Ali</a>
            </p>
            <p class="rh-event-card-calendar__description-time">
                18.30 - 20.00
            </p>
            <p class="rh-event-card-calendar__description-place">
                Downtown, Brogatan 2, Falkenberg
            </p>

            <span class="rh-labels rh-event-card-calendar__labels">Kultur och hälsa</span>
            <span class="rh-labels rh-event-card-calendar__labels">Musik</span>
            <span class="rh-labels rh-event-card-calendar__labels">Bibliotek</span>
            <span class="rh-labels rh-event-card-calendar__labels">Litteratur och skrivande</span>
        </div>
    </div>
    <div class="rh-event-card-calendar__item">
        <div class="rh-event-card-calendar__date">
            <p class="rh-event-card-calendar__date-day">23</p>
            <p class="rh-event-card-calendar__date-month">dec</p>
        </div>

        <div class="rh-event-card-calendar__description">
            <p class="rh-event-card-calendar__description-title">
                <a href="#" class="rh-link--navigation">Songlines: Gitarrlektioner med Hadi Ali</a>
            </p>
            <p class="rh-event-card-calendar__description-time">
                18.30 - 20.00
            </p>
            <p class="rh-event-card-calendar__description-place">
                Downtown, Brogatan 2, Falkenberg
            </p>

            <span class="rh-labels rh-event-card-calendar__labels">Kultur och hälsa</span>
            <span class="rh-labels rh-event-card-calendar__labels">Musik</span>
            <span class="rh-labels rh-event-card-calendar__labels">Bibliotek</span>
            <span class="rh-labels rh-event-card-calendar__labels">Litteratur och skrivande</span>
        </div>
    </div>
</div>