@import './feedback-form.settings.scss';

$feedback-form__color--required: #ff0000;

.feedback-form {
    // General
    &__text--required {
        color: $feedback-form__color--required;
    }

    &__placehoder {
        /* Box-modell/beteende */
        width: $feedback-form__placeholder--width;
        max-width: $feedback-form__placeholder--max-width;
        min-width: $feedback-form__placeholder--min-width;
        
        border: $feedback-form__placeholder--border;
        margin: $feedback-form__placeholder--margin;
        padding: $feedback-form__placeholder--padding;
    }

    &__header {
        h3 {
            font-size: 1.125em;
        }
    }

    &__body {
        border-radius: $feedback-form__body--border-radius;
        background-color: $feedback-form__body--background-color;
        
        padding: $feedback-form__body--padding;
        margin: $feedback-form__body--margin;
        
        &__input {
            height: 3.215em;
        }

        &__message {
            resize: none;

            height: 9em;
            width: 100%;
            padding: 6px 12px;
            font-size: 1em;
            line-height: 1.4;
            border: 1px solid #D1D1D1;
            border-radius: 0.2em;
        }

        &__label-message {
            display: inline-block;
            max-width: 100%;
            margin-bottom: 5px;
            line-height: 1.4em;
            font-size: .9375em;
            margin-top: 1em;
        }

        
        &__text--notice {
            font-size: .875em; // 14px
        }

        &__button-send-message { //120-50px
            padding: 1em 1.687em;
            background-color: $feedback-form__color-main--dark;
            font-size: 1em; //16px

            margin: $feedback-form__body__button-send-message--margin;
            cursor: pointer;
        }

        a {
            color: $feedback-form__color-link--normal;

            &:hover {
                text-decoration: none;
            }
        }
        

        &__description {
            margin: $feedback-form__body__description--margin;

            p {
                margin-bottom: 1.5em;
            }
        }
    }
}
