@import './feedback-form.settings.scss';

.rh-feedback-form {
    &__placehoder {
        /* Box-modell/beteende */
        width: $feedback-form__placeholder--width;
        max-width: $feedback-form__placeholder--max-width-large; // 640px
        min-width: $feedback-form__placeholder--min-width; // 320px - iPhone 5/SE
    }

    &__header {
        &__title {
            font-size: 1.25em;
            font-weight: bold;
        }
    }

    &__body {
        border-radius: $feedback-form__body--border-radius;
        background-color: $feedback-form__body--background-color;
        
        padding: $feedback-form__body--padding;
        margin: $feedback-form__body--margin;
        
        &__message {
            resize: none;
        }

        &__input {
            height: 3.215em;
        }

        &__label {
            &-message {
                margin-bottom: 5px;
                line-height: 1.4em;
                font-size: .9375em;
                margin-top: 1em;
            }

            &-email {
                font-size: 0.9375em; // 15px
                font-weight: bold;
            }
        }

        &__button-send-message { //120-50px
            padding: 1em 1.687em;
            background-color: $feedback-form__color-main--dark;
            font-size: 1em; //16px

            margin: $feedback-form__body__button-send-message--margin;
            cursor: pointer;
        }

        &__link-privacy {
            color: $feedback-form__color-link--normal;

            &:hover {
                text-decoration: none;
            }
        }
        
        &__description {
            margin: $feedback-form__body__description--margin;

            &-text {
                margin-bottom: 1.5em;
            }
        }
    }
}
