// Color
$feedback-form__color-link--normal: false; // Using for customization - Ex: #004890

// Placeholder
$feedback-form--width: 100%;
$feedback-form--min-width: 18em; // 20em - 320px - iPhone 5/SE
$feedback-form--max-width: 40em; // 640px - Design

// Component's setting
$feedback-form__body--margin: 0.4em 0 0 0;
$feedback-form__body--padding: 1.5625em 0.875em 1.875em 0.875em; // 25-14-30-14px
$feedback-form__body--border-radius: 0.25em; // 4px
$feedback-form__body--background-color: #f4f4f4;

$feedback-form__body__description--margin: 0 0 2.2em 0;

$feedback-form__body__button-send--height: false;
$feedback-form__body__button-send--height-medium: false;
$feedback-form__body__button-send--height-large: false;
$feedback-form__body__button-send--margin: false;
$feedback-form__body__button-send--padding: false;
$feedback-form__body__button-send--background-color: false;
$feedback-form__body__button-send--cursor: false;

// Customization
$color-main: #003265;
$feedback-form__color-link--normal: $color-main;

$feedback-form__body__button-send--height: 3.077em;
$feedback-form__body__button-send--height-medium: 3em;
$feedback-form__body__button-send--height-large: 3.125em;

$feedback-form__body__button-send--margin: 1.5em 0 0 0;
$feedback-form__body__button-send--padding: 0 1.8em;
$feedback-form__body__button-send--background-color: $color-main;
$feedback-form__body__button-send--cursor: pointer;
