// Overwite the global variables or mapping variables
$feedback-form__color-main--dark: $color-primary;

// Color
$feedback-form__color-link--normal: #004890;

// Placeholder
$feedback-form__placeholder--width: 100%;
//$feedback-form__placeholder--max-width: 21.5em; // 344px - design
$feedback-form__placeholder--min-width: 18em; // 20em - 320px - iPhone 5/SE

// Placeholder - Responsive
//$feedback-form__placeholder--max-width-medium: 35.5em; // 568px
$feedback-form__placeholder--max-width-large: 40em; // 640px

// Component's setting
$feedback-form__body--border-radius: 0.2em; // 4px
$feedback-form__body--background-color: #f4f4f4;
$feedback-form__body--padding: 1.5625em 0.875em 1.875em 0.875em; // 25-14-30-14px
$feedback-form__body--margin: 0.4em 0 0 0;

$feedback-form__body__button-send-message--margin: 1.5em 0 0 0;
$feedback-form__body__description--margin: 0 0 2.2em 0;
