/* Utilities */
.rh {
    // Position
    &-position {
        &-fixed {
            position: fixed;
        }
    }

    // Display
    &-display {
        &--show {
            display: block;
        }

        &--none {
            display: none;
        }
    }

    // padding-left - Useful for menu
    &-pl {
        &-05 {
            padding-left: 0.3125em; //5px
        }

        &-1 {
            padding-left: 0.625em; //10px
        }

        &-15 {
            padding-left: 0.9375em; //15px
        }

        &-2 {
            padding-left: 1.25em; //20px
        }

        &-25 {
            padding-left: 1.5625em; //25px
        }

        &-3 {
            padding-left: 1.875em; //30px
        }

        &-35 {
            padding-left: 2.1875em; //35px
        }

        &-4 {
            padding-left: 2.5em; //40px
        }

        &-45 {
            padding-left: 2.8125em; //45px
        }

        &-5 {
            padding-left: 3.125em; //50px
        }

        &-55 {
            padding-left: 3.4375em; //55px
        }

        &-6 {
            padding-left: 3.75em; //60px
        }

        &-65 {
            padding-left: 4.0625em; //65px
        }

        &-7 {
            padding-left: 4.375em; //70px
        }

        &-75 {
            padding-left: 4.6875em; //75px
        }

        &-8 {
            padding-left: 5em; //80px
        }

        &-85 {
            padding-left: 5.3125em; //85px
        }

        &-9 {
            padding-left: 5.625em; //90px
        }

        &-95 {
            padding-left: 5.9375em; //95px
        }

        &-10 {
            padding-left: 6.25em; //100px
        }
    }

    &-noscroll {
        overflow: hidden;
        -webkit-overflow-scrolling: auto; // Stops body scrolling for iOS
        height: 100%;
    }
}
