.app {
    &__header {
        margin: 1em;

        &-title {
            color: #135c86;
            font-size: 1.5em;
            font-weight: bold;
        }

        &-icon {
            height: 32px;
            margin: 5px 10px;
        }

        &__menu {
            margin: 10px 0;
            a {
                text-decoration: none;
                color: #1a76ac;
                line-height: 1.5em;
            }
            a:hover {
                text-decoration: underline;
            }
        }
    }

    &__detail-info {
        margin: 1em;
        max-width: 18em;

        &__title {
            font-weight: bold;
            cursor: pointer;
        }

        &__container {
            white-space: pre-wrap;
        }

        &__text-important {
            color: blue;
            font-weight: bold;
        }

        &__text-notice {
            color: #808080;
            font-size: .9em
        }
    }
}
