/* Vardgivare web */
$base3-dark: #417795; // Component border

$color-secondary: #417795; // Round button border color
$base3: #D0E3F3; // Round button background
$white: #000000; // Round button color