<div class="rh-navigation-card">
    <div class="rh-navigation-card__title">
        <span class="rh-round-button rh-navigation-card__title-icon"></span>
        <a href="#" class="rh-link--navigation rh-navigation-card__title-link">Behandlingsstöd</a>
    </div>

    {{!-- <div>
        Content
    </div> --}}

	{{!-- <div class="rh-navigation-card-title-extended">
        <span class="rh-navigation-card-title-icon"></span>
        <a class="rh-navigation-card-title-link" title="{{link.title}}">
            {{link.text}}
        </a>
	</div> --}}

	{{!-- <p class="rh-navigation-card-description">
		{{description}}
	</p> --}}
</div>