/* Needed component(s)
@import '../../Atoms/caption-hero/caption-hero';
*/
@import '../../styles/breakpoints';

.rh-hero {
    /* Positionering */
    position: relative;

    /* Box-modell/beteende */
    display: block;
    //height: 400px;
    max-width: 90.0625em; //1441px;
    min-width: 18em; //288px - iPhone 5S (320px - 20em)
    overflow: hidden;

    @include medium {
        /* Box-modell/beteende */
        max-height: 18.75em; //300px;
    }

    @include large {
        /* Box-modell/beteende */
        max-height: 26.25em; //420px;
    }

    &__image-container {
        max-height: 25em; //400px
        width: 100%;
    }

    .rh-image-hero {
        /* Box-modell/beteende */
        //height: 100%;
        display: block;

        @include medium {
            /* Box-modell/beteende */
            //height: auto;
            width: 100%;
        }
    }
}

// Extend CSS class for using caption component
.app__image-hero__placeholder {
    width: 100%;
}

.rh-hero-extend {
    &__caption {
        background-color: #f0f0f0;
        color: #000000;
    }
}