<div class="rh-hero">
    <div class="rh-hero__image-container">
        <img class="rh-image-hero" src="https://www.vuxhalland.se/app/uploads/2019/05/hero-g-samtal.jpg" alt="Nature">
    </div>

    <div class="rh-caption-hero rh-caption-hero--rounded rh-hero__caption">
        Ta steget mot ett nytt yrke
    </div>
</div>
