.rh-event-calendar-block {
    /* Box-modell/beteende */
    width: $event-calendar-block--width;
    @if $event-calendar-block--min-width {
        min-width: $event-calendar-block--min-width;
    }
    @if $event-calendar-block--max-width {
        max-width: $event-calendar-block--max-width;
    }
    @if $event-calendar-block--margin {
        margin: $event-calendar-block--margin;
    }

    /* Visuellt */
    @if $event-calendar-block--background-color {
        background-color: $event-calendar-block--background-color;
    }

    &__header {
        /* Positionering */
        position: relative;

        /* Box-modell/beteende */
        display: block;
        overflow: hidden;

        &__hero-image {
            /* Box-modell/beteende */
            display: block;
            @if $event-calendar-block__header__hero-image--min-height {
                min-height: $event-calendar-block__header__hero-image--min-height;
            }
            @if $event-calendar-block__header__hero-image--max-height {
                max-height: $event-calendar-block__header__hero-image--max-height;
            }
            width: $event-calendar-block__header__hero-image--width;
        }
    }

    &__body {
        &__title {
            /* Box modell/beteende */
            margin: $event-calendar-block__body__title--margin;

            /* Typografi */
            font-size: $event-calendar-block__body__title--font-size;
            font-weight: $event-calendar-block__body__title--font-weight;
        }
    }
}
