/* Color */
$event-calendar-block--background-color: false; // Ex: #f9f9f9

/* General */
$event-calendar-block--width: 100%;
$event-calendar-block--min-width: 18em; // 20em - 320px - iPhone 5/SE
$event-calendar-block--max-width: 26em; // 416px
$event-calendar-block--margin: 0;

/* Header */
$event-calendar-block__header__hero-image--min-height: 13.75em; //220px
$event-calendar-block__header__hero-image--max-height: 20.5em; //328px
$event-calendar-block__header__hero-image--width: 100%;

/* Body */
$event-calendar-block__body__title--font-size: 1.125em; //18px
$event-calendar-block__body__title--margin: 1.25em 0 0.3125em 0;
$event-calendar-block__body__title--font-weight: bold;

/* Caption mini */
// Position
$caption-mini--top: false;
$caption-mini--right: false;
$caption-mini--bottom: 0;
$caption-mini--left: false;

/* Using ONLY one at a time (--has-triangle OR --square) */
// Using only for --has-triangle
$caption-mini--triangle--border-top: 2.5em solid transparent;
$caption-mini--triangle--border-right: 1.5625em solid transparent;
$caption-mini--triangle--border-bottom: 2.5em solid #000000; //40px
$caption-mini--triangle--border-bottom--medium: 2.8125em solid #000000; // 45px
$caption-mini--triangle--border-left: 0 solid #000000;

// Using only for --square
$caption-mini--square--padding: auto;
$caption-mini--square--width: auto;
$caption-mini--square--background-color: #000000;
$caption-mini--square--border-radius: 0 0 0 0;

// Text format
$caption-mini-text--font-size: 1.125em; //18px
$caption-mini-text--font-size--medium: 1.25em; //20px
$caption-mini-text--margin: 0 .625em;
$caption-mini-text--font-weight: 500;
$caption-mini-text--line-height: 2.25em;
$caption-mini-text--color: #ffffff;