<div class="fix-cookie__placehoder">
    <div class="rh-cookie fix-cookie">
        <span class="rh-cookie-icon fix-cookie-icon"></span>
        <p class="rh-cookie-description fix-cookie-description">
            {{message}}
        </p>
        <button class="rh-button rh-button--primary cookie-button fix-cookie-button" aria-label="{{buttonExplanation}}" role="button">{{buttonText}}</button>
    </div>
</div>
